@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth;
}
body {
  font-size: 12px;
}
span{
  font-size: 1em;
}
table{
  width: 100%;
}
td, th{
  padding: 0.7em;
  max-width: 5em;
  border-bottom: 1px solid rgb(220,220,220);
  text-align: center;
}
td:nth-child(9){
  max-width: 18em;
  text-align: left;
}
td:nth-child(4){
  max-width: 7em;
}
td:nth-child(5), th:nth-child(5), td:nth-child(6), th:nth-child(6), td:nth-child(10), th:nth-child(10), td:nth-child(11), th:nth-child(11), td:nth-child(1), th:nth-child(1){
  max-width: 3em;
}
th{
  padding: 1.2em
}
table>thead>tr{
  background: rgb(245,245,245);
}
@keyframes show{
  from{opacity: 0; transform: translate(-21em, -2em)}
  to{opacity: 1; transform: translate(-20.1em, -2em)}
}
@keyframes showup{
  from{opacity: 0; transform: translateY(0.5em)}
  to{opacity: 1; transform: translateY(0)}
}
.actform button{
  outline: 1px solid rgb(220,220,220);
  transition: all 0.3s;
}
.actform button:hover{
  background: rgb(220,220,220);
}
.shows{
  animation: showup 1s ease;
}
.boxchart{
  cursor: pointer;
  transition: all 0.3s;
}
.boxchart:hover{
  transform: translateY(-0.4em);
  box-shadow: 2px 2px 4px 0 rgb(240,240,240);
}
.fa-check-circle{
  animation: showup 0.3s ease;
  margin-left: 0.5em;
}
.comphov{
  position: relative;
}
.comphov > div{
  z-index: -2;
  opacity: 0;
  transform: translate(-20.1em, -2em)
}
.comphov:hover > div{
  z-index: 10000;
  opacity: 1;
  animation: show 0.5s ease;
}
.comphov:hover{
  cursor: pointer
}