@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 13px;
}
table{
  width: 100%;
}
td, th{
  padding: 0.7em 1.5em;
  border-bottom: 1px solid rgb(220,220,220);
}
th{
  padding: 1.2em 1.5em
}
table>thead>tr{
  background: rgb(245,245,245);
}
@keyframes show{
  from{opacity: 0; transform: translate(-20em, 0)}
  to{opacity: 1; transform: translate(-21em, 0)}
}
.comphov{
  position: relative;
}
.comphov > div{
  z-index: -2;
  opacity: 0;
  transform: translate(-21em, 0)
}
.comphov:hover > div{
  z-index: 1;
  opacity: 1;
  animation: show 0.5s ease;
}
.comphov:hover{
  cursor: pointer
}